# easy to navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'
alias ~='cd ~'

# easy report
alias l='ls -lFh'
alias la='ls -lAFh'
alias lr='ls -tRFh'
alias lf='ls -lFh | grep "^-"'
alias l.f='ls -lFdh .* | grep "^-"'
alias ld='ls -lFh | grep "^d"'
alias l.d='ls -lFdh .* | grep "^d"'
alias dud='du -d 1 -h'
alias duf='du -sh *'
alias fdir='find . -type d -name'
alias ff='find . -type f -name'
alias h='history'
alias hgrep='history | grep'
alias lgrep='ls -lFh | grep'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS}'
alias rm='rm -i'
alias rmf='rm -rf'
alias p='ps axo pid,user,pcpu,comm'
alias sizeof='wget --no-config --spider'
alias uptime='uptime -p'
alias free='free -h'
alias df='df -h | grep sd |\
    sed -e "s_/dev/sda[1-9]_\x1b[34m&\x1b[0m_" |\
    sed -e "s_/dev/sd[b-z][1-9]_\x1b[33m&\x1b[0m_" |\
    sed -e "s_[,0-9]*[MG]_\x1b[36m&\x1b[0m_" |\
    sed -e "s_[0-9]*%_\x1b[32m&\x1b[0m_" |\
    sed -e "s_9[0-9]%_\x1b[31m&\x1b[0m_" |\
    sed -e "s_/mnt/[-_A-Za-z0-9]*_\x1b[34;1m&\x1b[0m_"'

# bookmarks
alias dl='cd ~/Downloads'
alias doc='cd ~/Documents'
alias docs='cd ~/Documents'

# shortcuts
alias c='clear'
alias e='exit'
alias ln='ln -s'
alias mp3-dl='youtube-dl --audio-quality 1 --extract-audio --audio-format mp3'
alias timer='echo "Timer started. Stop with Ctrl-D." && date "+%a, %d %b %H:%M:%S" && time cat && date "+%a, %d %b %H:%M:%S"'
alias weather='curl -s wttr.in/Dunedin | sed -n "1,37p"'
alias calc='bc -ql'
alias agenda='gcalcli calw && gcalcli agenda'
alias burndown='task burndown.daily'
alias ctask='clear && task'
alias cfv='vim ~/.vimrc'
alias cf3='vim ~/.i3/config'
alias cfp='vim .config/polybar/config'
alias cfr='vim ~/.config/ranger/rc.conf'
alias cfz='vim ~/.zshrc'
# rofi-apps
alias rofi-apps='rofi -sidebar-mode -modi run,drun,window -lines 12 -width 60 -location 0 -show drun -columns 3'

# typos
alias :q='exit'
alias help='man'
alias nano='vim'
alias quit='exit'

# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto --group-directories-first'
    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# cute animals
alias cute='python3 Documents/Python/messenger.py'

alias dict="sdcv"

alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'

alias compiler='~/.scripts/compiler.sh'
